body{
    font-family: 'Poppins', sans-serif;
    
    color: #363958;
    margin: 0;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:grey;
    font-weight: bold;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}

section{
    height: 550px;
    padding-bottom: 150px;
    margin-top: 50px;
    
}
.name-highlight{
    color: coral;
}
.paragraph-font{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}
.half-width{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    height: 20%;
    width: 100%;
}
.link-button{
    background-image: linear-gradient(45deg,tomato, lightSalmon);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    font-weight: 700;

}
.background{
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    height: 600px;
}
.background h2{
    text-align: center;
    padding-top: 15px;
    
}

.test{
    width: 20%;
    float: left;
    margin-top: 70px;
    margin: 3%;
    padding: 3%;
}
.test img{
    height: 200px;
    width: 300px;
    margin-right: 5px;
}
.shadow{
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
}
.inquery-margin{
    background: url(images/Group_33094_1.png);
    background-size: 800px 200px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 140px;
    padding-bottom:50px ;
    
}
.inquery-margin h1{
    text-align: left;
    color:white;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    padding-left: 400px;
    padding-top: 60px;

}
.chat-button{

    background-image: linear-gradient(45deg,tomato, lightSalmon);
    text-decoration: none;
    left: 900px;
    position: relative;
    padding: 15px 30px;
    bottom: 65px;
    border-radius: 7px;
    color: white;
    font-weight: 700;

}
.footer{
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    margin-top: 60px;
    text-align: center;
    color: tomato;
    padding: 50px;
    font-weight: 700;
    height: 180px;
}
#small{
    font-size: 9px;
}
.footer img{
    
    float: inline;
    height: 50px;
    width: 50px;
}
